.none{
    display: none;
  }
  html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  ul{
    margin-bottom: 0;
  }
  
  li {
    list-style-type: none;
  }
  body a {
    text-decoration: none;
    color: #081158;
  }
  
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 62px;
  
  }
  h3{
    font-size: 62px;
  }
  
  h4{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  .button {
    padding: 16px 23px;
    border-radius: 50px;
    background: #FFFFFF;
    color: 
    #212353;
    border: 1px solid #9C69E2;
    padding-left: 40px;
    display: flex;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .button:hover{
    background-color: #9C69E2;
    color: #FFFFFF;
  } 

  .button-learn{
    background-color: #9C69E2;
    color: #FFFFFF;
    padding: 16px 52px;
  }
  
  .button-learn{
    background-color: #8A40EE;
  }

  .container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
  }
  
  .logo{
    height: 35px;
    width: 45px;
  }
/*------------------ header ------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-brand{
    margin-right: 120px;
}

.list{
    display: flex;
    align-items: center;
}

.list__item{
    margin-right: 40px;
}
.list__item:last-child{
    margin-right: 0;
}

.arrow{
    background: url('./img/arrow.png') center / 100% 100% no-repeat;
    background-size: cover;
    width: 22px;
    height: 16px;
    margin-left: 23px;
    }
    .button:hover .arrow{
        background: url('./img/arrow\ 2.png') center / 100% 100% no-repeat;
        background-size: cover;
        width: 22px;
        height: 16px;
        margin-left: 23px;
        }

/*------------------------ burger ----------------------------*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .burger-icon {
      display: none;
      cursor: pointer;
      padding: 20px;
      position: fixed;
      z-index: 2;
    }
    @media (min-width: 200px) and (max-width: 1000px){
        .burger-icon {
        display: block;
      }
  }
  
  .burger-icon span {
    display: block;
    background-color: #333;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  #burger-toggle {
    display: none;
  }
  
  #burger-toggle:checked + .burger-icon span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  #burger-toggle:checked + .burger-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #burger-toggle:checked + .burger-icon span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .burger-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F063B8;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  #burger-toggle:checked + .burger-icon + .burger-menu {
    left: 0;
  }
  
  .burger-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .burger-menu li {
    margin: 15px 0;
  }
  
  .burger-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
.burger-menu .li-button{
    display: flex;
    justify-content: center;
}

  .content {
    padding: 20px;
    padding-top: 80px;
  }
  @media (min-width: 200px) and (max-width: 1000px){
    .big-screen-button{
      display: none;
    }
    body .container{
      width: 100vh;
    }
    .header .list{
      display: none;
    }
    
  }
  @media (min-width: 770px) and (max-width: 820px){
      .big-screen-button{
        display: none;
      }
      body .container{
        width: 100vh;
      }
      
      .header{
          justify-content: flex-start;
        }
        .navbar-brand{
            margin-right: 600px;
        }
    }

    @media (min-width: 620px) and (max-width: 769px){
          .navbar-brand{
              margin-right: 400px;
          }
          .header{
            justify-content: start;
          }
      }
    @media (min-width: 200px) and (max-width: 619px){
        .navbar-brand{
            margin-right: 300px;
        }
        .header{
            justify-content: start;
          }
    }
  /*------------------------- burger-end ------------------------------*/

  /*-------------------------- hero ---------------------------------*/

  .hero{
    display: flex;
    margin: 100px 0px;
  }

  .hero h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #212353;
    max-width: 601px;
  }

  .hero p{
    max-width: 370px;
    margin: 50px 0;
  }

  .image{
    position: relative;
  }

  .image__photo{
    background: url('./img/hero-image/first-screen-img.png') center / 100% 100% no-repeat;
    background-size: cover;
    width: 770px;
    height: 407px;
    position: absolute;
    top: 80px;
    left: -225px;
  }

  @media (min-width: 800px) and (max-width: 1170px){
    .hero{
      flex-direction: column;
      align-items: center;
    }
    .image__photo{
 
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.5;
      z-index: -1;
    }
    .hero h1{
      width: 100%;
      font-size: 40px;
    }
  }

  @media (min-width: 200px) and (max-width: 799px){
    .hero{
      flex-direction: column;
      align-items: self-start;
    }

    .hero h1{
      font-size: 30px;
      max-width: 300px;
    }

    .image__photo{
      height: 203px;
      width: 350px;
      left: -0px;
    }
  }
  